<div class='actions'>
  <mat-form-field appearance="fill" style="margin: 5px">
    <mat-label>Filter By Doctor</mat-label>
    <mat-select (selectionChange)="onDoctorChange($event)" [(value)]="selected">
      <mat-option value="all">ALL</mat-option>
      <mat-option *ngFor="let doctor of doctors" value={{doctor}}>{{doctor}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="openAddDialog()" color="primary" mat-fab style="margin: 5px">
    <mat-icon>add</mat-icon>
  </button>
</div>


<div *ngFor='let appointment of appointments' class='list'>
  <mat-card>
    <mat-card-title>  {{appointment.petName}} </mat-card-title>
    <mat-card-subtitle>  {{appointment.status}} </mat-card-subtitle>
    <mat-card-content> Diagnostic: {{appointment.diagnostic}}</mat-card-content>
    <mat-card-content> Doctor: {{appointment.doctorName}}</mat-card-content>
    <mat-card-content> Date: {{appointment.dateTime | date: 'EEEE, MMMM d, y, h:mm a'}}</mat-card-content>
    <mat-card-content> Cost: {{appointment.totalCost | currency}}</mat-card-content>
    <mat-card-actions>
      <button (click)="openEditDialog(appointment)" *ngIf="appointment.status.toString()!='COMPLETED'" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="confirmAppointment(appointment)" *ngIf="appointment.status.toString()==='CREATED'"
              color="primary" mat-stroked-button>
        Confirm
      </button>
      <button (click)="completeAppointment(appointment)"
              *ngIf="appointment.diagnostic!='' && appointment.status.toString()!='COMPLETED'" mat-stroked-button>
        Complete
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator (page)="onPageChanged($event)"
               [length]="totalElems"
               [pageSizeOptions]="[5]"
               [pageSize]="5"
>
</mat-paginator>
matTooltip="Info about the action"matTooltip="Info about the action"
